body { background: var(--background-primary-color); font-family: Verdana, sans-serif; font-size: 11px; padding: 0px 10px 10px 10px; }
header { background: var(--secondary-color) }
header > a { font-weight: 600; padding-left: 10px; padding-right: 10px; color: var(--nav-primary-color); }
header > a:hover { font-weight: 900; text-decoration: none; color: white; }
nav { background: var(--primary-color); padding: 10px 10px 3px 10px; }
nav > h1 {color: var(--nav-primary-color); }
nav > h1 > i {margin-right: 10px; }
nav > a {color: var(--nav-primary-color); margin-right: 10px; padding: 5px 10px 5px 10px;}
nav > a:hover { color: var(--secondary-color); background: var(--nav-primary-color); text-decoration: none;}
nav > .nav-active:hover{ color: var(--secondary-color); text-decoration: none;}
h1 { font-size: 23px; }
h4 { font-size: 1.05rem; }
h6 { font-size: 0.90rem; }
footer > p { color: #999; padding-right: 10px; text-align: right; }
footer > p > a { color: #999; font-weight: bold; }
footer > p > a:hover { color: #343434; text-decoration: none; }
.nav-active{background: var(--nav-primary-color); color: var(--primary-color)}
.li-submodulo{ list-style-type: none; font-size: 1.25em;}
.li-item{ list-style-type: none; padding: 5px; }
#app{margin-top: -16px;}
#body-app { background: #FFF; margin-left: 0px; margin-right: 0px; padding-top: 15px; padding-bottom: 15px; margin-bottom: 10px;}
#body-app > aside { border-right: 2px solid #ddd; }
@media (max-width: 768px) {
  #body-app > aside { border-bottom:2px solid #ddd; border-right: 0px solid #ddd; }
  #body-app > aside { padding-bottom: 15px; }
  #body-app > section { padding-top: 15px; }
}
.color-danger{color:var(--danger);}
.color-warning{color: var(--warning);}
.color-success{color: var(--success);}
.btn-default{ border-radius: 0px; font-size: 11px; padding: 0.20rem 0.40rem; background: #f7f7f7; color: #484848; border: solid 1px #c1c1c1; }
.btn-default:hover{ background: #c1c1c1; color: #343434; }
.oculto{ display: none; }
.form-control{border-radius: 0px; font-size: 0.7rem; padding: .255rem .55rem;}
.form-group-btn{padding-top: 25px;}
select.form-control:not([size]):not([multiple]) { height: calc(1.50rem + 2px); }
/*modal*/
.modal-content{border-radius: 0px; }
.modal-body { padding-top: 5px; }
.close{font-size: 1.25rem;}
.modal-header, .modal-footer { padding: 0.75rem;}
@media (min-width: 992px){
  .modal-xlg { max-width: 1000px; }
}
